.board {
    width: 100%;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    border-top-radius: 1rem;
    text-align: left;
    padding: 4rem;
    min-height: 90.2vh;
    overflow: auto;
    scroll-behavior: auto;
    

    &::-webkit-scrollbar-thumb {
        background-color: #808080;
        /* Adjust the thumb color when hovering as needed */
        position: absolute;
    }

    &::-webkit-scrollbar {
        width: 0;
        height: 1rem;
        position: absolute;
        /* Adjust this value to match the width of the scrollbar in your browser */
    }
    
    &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        position: absolute;
        /* Adjust the background color as needed */
    }

}