.calendar-board {

    height: 100%;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__table {
        height: 80%;
        text-align: center;
        margin: 0 auto;
        width: 100%;

        &--row {
            // font-weight: bold;
            // height: 400px;
            width: 100%;

            &:not(:first-child) {

                height: calc(100%/4);
            }


            &--head {
                text-transform: capitalize;
                font-size: $font-size-small;
            }

            &--data {
                border: 1px solid #ccc;
                text-align: center;
                width: calc(100%/7);

                &--container {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;

                    &--forms {
                        position: absolute;
                        font-size: $font-size-small;
                        max-width: 50vw;
                        top: -4rem;
                        right: -2rem;
                        background-color: white;
                        border-radius: 1rem;
                        border: 2px solid white;
                        z-index: 100000;
                        animation: moveInLeft .2s ease-out .2s;
                        animation-fill-mode: backwards;
                        box-shadow: 3rem 3rem 5rem rgba(167, 167, 167, 0.598);

                        &>div {
                            text-align: right;
                            background-color: rgba(223, 223, 223, 0.198);
                        }
                    }

                    &--date {
                        font-size: $font-size-small;
                        max-height: 50%;
                        border-radius: 50%;
                        width: fit-content;
                        padding: 5px 10px;
                        margin: 0 auto;
                        transition: all .4s;

                        &:hover {
                            background-color: $color-grey-dark;
                            color: $color-white;
                            transform: translateY(-3px);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}



.task-container {
    min-height: 50%;
    margin: 0 auto;
    width: 100%;
    // cursor: pointer;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    &__newTasks {
        height: 100%;
    }
    
    &__tasks {
        height: fit-content;
        &--item {
    
            &:hover {
                opacity: .90;
            }
            font-weight: 100;
            margin: 0 auto;
            color: white;
            letter-spacing: 1px;
            width: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            // height: 20%;
            margin-bottom: 2px;
            border-radius: 3px;
            background-color: $color-primary;
            width: 7vw;
            padding: 0 .25rem;
    
            &:hover {
                cursor: pointer;
            }
        }

    }

    &>div {}

}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;

    &--item {
        margin: .25rem 0;
        font-size: $font-size-secondary;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 3px solid black;

        &:hover,
        &:active,
        &:focus {
            outline: none;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 3px solid $color-primary;
        }

        &--title {
            font-size: $font-size-primary;
        }

        &--description {
            outline: none;
            padding: .5rem;
            border-radius: 3px;
            background-color: rgb(238, 238, 238);
        }
    }

}