.sideNav {
  width: 15rem;
  position: relative;
  // margin-top: 2rem;
  margin-right: 1rem;
  height: vh;
  // top: 0;
  // bottom: 0;
  background-color: rgba($color-white, 0.1);
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  ;
  z-index: 99;
  padding: 0 1rem;
  transition: width .2s ease;

  &__collapse {
    font-size: 1rem;
    position: absolute;
    padding: .75rem .75rem;
    background-color: rgb(203, 203, 203);
    border-top-right-radius: 50%;
    border-bottom-left-radius: 15%;
    top: 0rem;
    right: 0rem;

    &:hover {
      background-color: $color-dark;
      cursor: pointer;
      transition: 0.4s ease;
      color: $color-white;
    }

  }

  &__list {
    position: relative;
    list-style-type: none;
    width: 80%;
    margin-top: 2rem;
    padding: 2rem 0;

    &-search {
      border-radius: .5rem;
      display: flex;
      font-size: 1rem;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      border: 1px solid $color-grey-light;
      padding: .25rem 0;
      margin-bottom: 2px;

      &--icon {

        &:visited {
          all: unset;
        }
      }

      &:hover {
        border: 1px solid $color-grey-dark;
      }

      &--input {
        all: unset;
        border: none;
        max-width: 80%;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      color: $color-dark;
      padding: 0 .4rem;
      // text-align: center;
      // margin: 0 auto;
      height: 3rem;
      transition: .5s ease;
      border-radius: 0 1rem;
      margin-bottom: 2px;

      &:hover,
      &:active {
        background-color: rgba($color-dark, 0.7);
        color: $color-white;
      }

    }

    &-dropdown {
      position: relative;

      &:hover .sideNav__dropdown {
        display: initial;
      }

      &-arrow {
        position: absolute;
        right: -1rem;
        top: -.3rem;
        font-size: 2rem;
        color: black;
      }
    }

  }

  &__dropdown {
    position: absolute;
    left: 15rem;
    width: 20rem;
    top: 0;
    display: none;
    background-color: rgba($color-dark, 0.1);
    border-radius: .5rem;
    box-shadow: .2rem .2rem 1rem rgba($color-dark, 1);
    list-style: none;
  }
}