.task-board {
    height: 100%;
    &__table {
        height: 25%;
        font-size: 1rem;
        width: 75%;

        &--row {

            &--data,
            &--header {
                font-weight: 100;
                margin: 0 auto;
                border: 1px solid $color-grey-light;
                text-align: center;
            }
        }
    }

}