.topNav {
  display: flex;
  justify-content: space-between;
  background-color: $color-dark;
  color: $color-white;
  align-items: center;
  z-index: 100;
  position: sticky;
  top: 0;
  // min-width: 100%;
  display: flex;
  // height: 3;

  &__left,
  &__right {
    list-style: none;
    height: 100%;
    padding: .5rem 0;

    &--list {
      margin-bottom: 0;
      display: flex;
      list-style: none;
      align-items: end;
      font-size: $font-size-secondary;

      &-link {
        color: $color-white;
        font-size: $font-primary;
        text-decoration: none;
        transition: all .5s;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid $color-secondary;
          color: $color-secondary;
        }
      }
    }

  }

  &__left {
    width: 20%;

    &--list {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__right {
    width: 50%;
    max-width: 5;
    display: flex;
    justify-content: right;
    margin-right: 2rem;

    &--list {
      display: flex;
      justify-content: right;
      align-items: center;
      height: 100%;
      width: 100%;

      &-link {
        margin-left: 1rem;
      }
    }
  }


  &__profile {
    padding: 0;
    text-decoration: none;
    color: $color-white;
    margin-right: 1rem;
    transition: all .5s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $color-secondary;
      color: $color-secondary;
    }
  }
}