.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  font-weight: 500;
  padding: 0.5rem 1.5rem;
}
.btn-holder {
  margin-top: auto;
  margin: 1rem;
  text-align: right;
}

.fa-solid, .fa-regular {
  color: black;
  font-size: 1.3rem;
  display: inline-block;
  border-radius: 50%;
  padding: 0.3rem 0.5rem;
}

.fa-xmark, .fa-trash-can, .fa-pen {
  margin-left: auto;
}
.fa-xmark:hover, .fa-trash-can:hover, .fa-pen:hover {
  cursor: pointer;
  background-color: rgba(237, 237, 237, 0.951);
}

.icon-holder {
  display: flex;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  #root {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  #root {
    font-size: 50%;
  }
}

#root {
  font-family: "Roboto", sans-serif;
  color: #252A34;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 56.25em) {
  #root {
    padding: 0;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.dashboard-content-wrapper {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-between;
}

.login {
  height: 100%;
  background: #696969;
}
.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3.4rem);
}
.login__container--form {
  background-color: rgb(66, 133, 244);
  border: 2px solid #c91743;
  border-radius: 1rem;
  padding: 2rem;
}
.login__container--form--header {
  color: #252A34;
}
.login__container--form--label {
  color: #252A34;
  display: block;
}
.login__container--form--input {
  display: block;
}

.topNav {
  display: flex;
  justify-content: space-between;
  background-color: #252A34;
  color: #EAEAEA;
  align-items: center;
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  height: 3.4rem;
}
.topNav__left, .topNav__right {
  list-style: none;
  height: 100%;
  padding: 0.5rem 0;
}
.topNav__left--list, .topNav__right--list {
  margin-bottom: 0;
  display: flex;
  list-style: none;
  align-items: end;
  font-size: 1.2rem;
}
.topNav__left--list-link, .topNav__right--list-link {
  color: #EAEAEA;
  font-size: "Roboto", sans-serif;
  text-decoration: none;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}
.topNav__left--list-link:hover, .topNav__right--list-link:hover {
  border-bottom: 1px solid #FF2E63;
  color: #FF2E63;
}
.topNav__left {
  width: 50%;
}
.topNav__left--list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
.topNav__right {
  width: 50%;
  max-width: 5;
  display: flex;
  justify-content: right;
  margin-right: 2rem;
}
.topNav__right--list {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
}
.topNav__right--list-link {
  margin-left: 1rem;
}
.topNav__right--list-search {
  border-radius: 0.5rem;
  justify-content: space-around;
  text-decoration: none;
  border: 1px solid #D3D3D3;
  padding: 0.25rem 0;
  width: 15rem;
  transition: all 0.4s;
  max-height: 100%;
}
.topNav__right--list-search:visited {
  all: unset;
}
.topNav__right--list-search--input {
  all: unset;
  border: none;
  min-width: 50%;
  width: 15rem;
  max-width: 80%;
}
.topNav__right--list-search--input:focus {
  width: 20rem;
}
.topNav__right--list-search:has(> .topNav__right--list-search--input:focus) {
  width: 20rem;
}
.topNav__right--list-search--icon {
  color: white;
}
.topNav__profile {
  padding: 0;
  text-decoration: none;
  color: #EAEAEA;
  margin-right: 1rem;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}
.topNav__profile:hover {
  border-bottom: 1px solid #FF2E63;
  color: #FF2E63;
}

.sideNav {
  width: 15rem;
  position: relative;
  margin-right: 1rem;
  background-color: rgba(234, 234, 234, 0.1);
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 99;
  padding: 0 1rem;
  transition: width 0.2s ease;
}
.sideNav__collapse {
  font-size: 1rem;
  position: absolute;
  padding: 0.75rem 0.75rem;
  background-color: rgb(203, 203, 203);
  border-top-left-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 15%;
  top: 0rem;
  right: 0rem;
}
.sideNav__collapse:hover {
  background-color: #252A34;
  cursor: pointer;
  transition: 0.4s ease;
  color: #EAEAEA;
}
.sideNav__list {
  position: relative;
  list-style-type: none;
  width: 80%;
  margin-top: 2rem;
  padding: 2rem 0;
  font-size: 1.2rem;
}
.sideNav__list-search {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  border: 1px solid #D3D3D3;
  padding: 0.25rem 0;
  margin-bottom: 2px;
}
.sideNav__list-search--icon:visited {
  all: unset;
}
.sideNav__list-search:hover {
  border: 1px solid #696969;
}
.sideNav__list-search--input {
  all: unset;
  border: none;
  max-width: 80%;
}
.sideNav__list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  text-transform: capitalize;
  color: #252A34;
  padding: 0 0.4rem;
  height: 3rem;
  transition: 0.5s ease;
  border-radius: 0 1rem;
  margin-bottom: 2px;
}
.sideNav__list-link:hover, .sideNav__list-link:active {
  background-color: rgba(37, 42, 52, 0.7);
  color: #EAEAEA;
}
.sideNav__list-dropdown {
  position: relative;
}
.sideNav__list-dropdown:hover .sideNav__dropdown {
  display: initial;
}
.sideNav__list-dropdown-arrow {
  position: absolute;
  right: -1rem;
  top: -0.3rem;
  font-size: 2rem;
  color: black;
}
.sideNav__dropdown {
  position: absolute;
  left: 15rem;
  width: 20rem;
  top: 0;
  display: none;
  background-color: rgba(37, 42, 52, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem #252a34;
  list-style: none;
}

.calendar-board {
  height: 100%;
}
.calendar-board__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.calendar-board__table {
  height: 80%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.calendar-board__table--row {
  width: 100%;
}
.calendar-board__table--row:not(:first-child) {
  height: 25%;
}
.calendar-board__table--row--head {
  text-transform: capitalize;
  font-size: 1rem;
}
.calendar-board__table--row--data {
  border: 1px solid #ccc;
  text-align: center;
  width: 14.2857142857%;
}
.calendar-board__table--row--data--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.calendar-board__table--row--data--container--forms {
  position: absolute;
  font-size: 1rem;
  max-width: 50vw;
  top: -5vw;
  right: 10vw;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid white;
  z-index: 100000;
  animation: moveInLeft 0.2s ease-out 0.2s;
  animation-fill-mode: backwards;
  box-shadow: 3rem 3rem 5rem rgba(167, 167, 167, 0.598);
}
.calendar-board__table--row--data--container--forms--header {
  padding: 0rem 1rem 0;
  text-align: right;
  background-color: rgba(223, 223, 223, 0.198);
}
.calendar-board__table--row--data--container--date {
  font-size: 1rem;
  max-height: 50%;
  border-radius: 50%;
  width: fit-content;
  padding: 5px 10px;
  margin: 0 auto;
  transition: all 0.4s;
}
.calendar-board__table--row--data--container--date:hover {
  background-color: #696969;
  color: #EAEAEA;
  transform: translateY(-3px);
  cursor: pointer;
}

.task-container {
  min-height: 50%;
  margin: 0 auto;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.task-container__newTasks {
  height: 100%;
}
.task-container__tasks {
  height: fit-content;
}
.task-container__tasks--holder {
  position: relative;
}
.task-container__tasks--item {
  font-weight: 100;
  margin: 0 auto;
  color: white;
  letter-spacing: 1px;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 2px;
  border-radius: 3px;
  background-color: rgb(66, 133, 244);
  width: 7vw;
  padding: 0 0.25rem;
}
.task-container__tasks--item:hover {
  opacity: 0.9;
}
.task-container__tasks--item:hover {
  cursor: pointer;
}
.task-info {
  animation: moveInLeft ease-in 0.3s;
  position: absolute;
  width: 25vw;
  max-width: 35vh;
  min-height: fit-content;
  top: 0;
  left: 10vw;
  z-index: 50000;
  border-radius: 1rem;
  border: 2px solid white;
  background-color: white;
  padding: 1rem;
  box-shadow: 3rem 3rem 5rem rgba(167, 167, 167, 0.598);
}
.task-info--container {
  margin-top: 5%;
  text-align: left;
}
.task-info--container--info {
  font-size: 0.8rem;
  display: flex;
  align-items: start;
}
.task-info--container--info > i {
  margin-top: -0.3rem;
}
.task-info--container--info > :first-child {
  margin-right: 10%;
}
.task-info--container--info > p {
  margin-top: auto;
}
.task-info--container--header {
  font-size: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}
.form-group--item {
  margin: 0.25rem 0;
  font-size: 1.2rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid black;
}
.form-group--item:hover, .form-group--item:active, .form-group--item:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid rgb(66, 133, 244);
}
.form-group--item--title {
  font-size: 1.5rem;
}
.form-group--item--description {
  outline: none;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: rgb(238, 238, 238);
}

.board {
  width: 100%;
  margin-right: 2%;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  text-align: left;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}

.task-board {
  width: 100%;
}
.task-board__table {
  height: 100%;
  font-size: 1rem;
  width: 75%;
}
.task-board__table:not(:first-child) {
  margin-bottom: 3rem;
}
.task-board__table--row {
  width: 100%;
}
.task-board__table--row--data, .task-board__table--row--header {
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 100;
  margin: 0 auto;
  border: 1px solid #D3D3D3;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
