.calendarNav {
    // height: 3rem;
    font-size: $font-size-small;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid $color-grey-dark;
    align-items: center;
    padding-bottom: .5rem;
}

.change-date {
    box-shadow: 1rem 1rem 2rem rgba(167, 167, 167, 0.598);
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1vw;
    border-radius: 1rem;
    background-color: white;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    #dark & {
        background-color: #383b4a;
        box-shadow: 1rem 1rem 2rem #4c5061;

        &>button {
            color: white;
        }
    }

    &>* {
        margin-left: 5px;
    }

    &__arrows {

        &>i:hover {
            background-color: #c5c7d0;
        }

        #dark &>i {
            color: white;
        }

        #dark &>i:hover {
            background-color: black;
        }
    }
}

// #light .calendarNav {
//     color: #24262f ;f
// }

// #dark .calendarNav {
//     color: white ;
//     background-color: #24262f;
// }


.form-select {
    width: fit-content;
}

@media (min-width: 950px) {
    .change-date {
        box-shadow: none;
        position: initial;
        padding: 0;
    }

}