.login {
  height: 100%;
  background: $color-grey-dark;
  
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.4rem);


    &--form {
      background-color: $color-primary;
      border: 2px solid $color-secondary-dark;
      border-radius: 1rem;
      padding: 2rem;

      &--header {
        color: $color-dark;
      }

      &--label {
        color: $color-dark;
        display: block;
      }

      &--input {
        display: block;
      }
    }
  }
}