.profileHolder {
    margin-left: 1.5vw;
    position: relative;
}

.profileMenu {
    margin-top: 1.4vh;
    border-radius: .4rem;
    position: absolute;
    width: 25vw;
    min-width: 20rem;
    // height: 25rem;
    right: 0;
    

    &__header {
        padding: 1rem;
        font-weight: lighter;
    }

    #light &__header {
        border-bottom: 1px solid $color-white;
    }

    #dark &__header {
        border-bottom: 1px solid #24262f;
    }
}

#light .profileMenu {
    background-color: #24262f;
    color: $color-white;
}


#dark .profileMenu{
    background-color: $color-white;
    color: #24262f;
}

.profileContent {
    padding: 1rem;
    display: flex;
    height: fit-content;
    &__cell {
        width: 50%;

        &:last-child {}

        &-header {
            margin-left: .5rem;
            margin-bottom: 1rem;
        }

        &--item {
            width: 100%;

            &:hover {}
        }

        &--link>div {
            width: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            white-space: nowrap;


            &:hover {
                background-color: rgba(54, 71, 101, 0.438);
            }

            &>i {
                font-size: 1rem;

            }

            #light & > i {
                color: $color-white !important;
            }

            #dark & > i {
                color: #24262f !important;
            }

            &>div {
                font-size: 1rem;
                text-decoration: none;
            }

            #light & > div {
                color: $color-white;
            }

            #dark & > div {
                color: #24262f;
            }
        }

    }
}

#light .profileContent{
    color: $color-white;
}

#dark .profileContent{
    border-radius: 4rem;
    color: #24262f;
    background-color: $color-white;
}