.search {
    border-radius: .5rem;
    justify-content: space-around;
    text-decoration: none;
    border: 1px solid $color-grey-light;
    padding: .25rem 0;
    // width: 15rem;
    transition: all .3s;
    max-height: 100%;
    white-space: nowrap;

    &:visited {
        all: unset;
    }

    #dark & > i {
        color: white !important;
    }


    &--input {
        all: unset;
        border: none;
        min-width: 50%;
        width: 15rem;
        max-width: 80%;
        
    }

    &--input:focus {
        width: 20rem;
    }

    &:has(> &--input:focus) {
        width: 20rem;
    }

    &--icon {
        color: white;
    }
}

.query-selection-box {
    position: absolute;
    box-shadow: 3rem 3rem 5rem rgba(167, 167, 167, 0.598);
    border-radius: 1rem;
    background-color: #252A34;
    margin-top: .5rem;
    width: 20rem;
    padding: 1rem 0;

    &__item {
        // padding: 1rem;
        padding-bottom: .5rem;
        width: 100%;
        height: 100%;

        &--hover-effect {
            background-color: #363d49;
        }

        &--link {
            width: inherit;
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:visited {
            color: inherit;
        }
    }

}