.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    &-primary {
        font-weight: 500;
        padding: .5rem 1.5rem;
    }

    &-holder {
        margin-top: auto;
        margin: 1rem;
        text-align: right;
    }

}

.to-right {
    left: 1rem;

    &-form {
        left: 10vw;
    }
}

.to-left {
    right: 1rem;

    &-form {
        right: 10vw;
    }
}

.to-up-form {
    bottom: 1rem;
}

.to-down-form {
    top: 1rem;
}