// COLOR VARIABLES

// these are just place holders you can change them (theyre my colors from my portfolio)
$color-primary: #08D9D6;
$color-dark: #252A34;
$color-secondary: #FF2E63;
$color-secondary-dark: #c91743;
$color-white: #EAEAEA;


// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Caveat', cursive;